<div class="jaaboutmain jacontainer-outer ja100pr">
	<div class="jacontainer-outer">
		<div class="jacontainer-inner ja100vh">
			<div class="info__block">
				<h1 class="jah3 mb30 align-center-t">Convenience & bargain shopping and authenticity</h1>
				<p class="jatext mb25">JA Fashion Co [Jon & Angelina] is a small family owned business with a big mission to make your access to luxury easy and affordable with exceptional prices in L.A., California and beyond.</p>
				<p class="jatext">
						We created JA Fashion Co — inspired by the fashionable shopper who seeks value without sacrificing quality. Every item that passes through the hands of our experts and is delivered to the buyer is 100% original. This is backed by certificate and receipts of authenticity.
				</p>
			</div>
			<div class="info__block pd-0 mrg-r-25">
				<img src="https://cdn.shopify.com/s/files/1/0569/1500/1476/files/AboutPage-img0.png?v=1704448229"
					alt="">
			</div>
		</div>
	</div>
	<div class="jacontainer-outer">
		
	<div class="jacontainer-inner">
		<div class="info__block pd-0 mrg-r-25">
			<img src="https://cdn.shopify.com/s/files/1/0569/1500/1476/files/AboutPage-img0.png?v=1704448229"
				alt="">
		</div>
		<div class="info__block">
			<h2 class="jah3 mb30 align-center-t">WHY WE?</h2>
			<p class="jatext mb25">Forget about wasting time searching for the most beautiful and on-trend luxury items! <span class="jabold">Our platform offers only beautiful, trendy new and pre owned items that will last and last for years to come.
			</span></p>
			<p class="jatext mb25">
				Do you dream of shopping at prices lower than official boutiques? <span class="jabold">
					We pass on savings of up to 70% and 90% to you. In addition, our prices are lower than in outlet or online stores offering exclusively pre-owned items at higher prices. </span> Each luxury item you receive in our branded packaging and set as in an official boutique.
			</p>
			<p class="jatext mb25">
				   <span class="jabold">JA Fashion Co — with the best conditions on the resale market not only for buying but also for selling your items:</span> 
				   <span class="jablock">
					• Our base fee is only 15% for bags,shoes, accessorize under $3000. You keep 85%
				   </span>
				   <span class="jablock">
					• Over $3000 fee is just 10% ,You keep 90%
				   </span>
				   <span class="jablock mb25">
					• Consignments are a minimumterm of 90 days.
				   </span>
					<span class="jablock">
					— we will be glad to see you among our satisfied customers!
					</span>
			</p>
		</div>
	</div>	
	</div>
	
</div>